    # Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db
